html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* dashboard */
.body-container {
  margin: 50px;
}

/* sidelist.js */
.list-group-item {
  border: none !important;
  cursor: pointer;
  font-size: 13px;
}

.underlined {
  text-decoration: underline;
}

.flag-icon {
  color: yellow;
}

/* CRcard.js */
.cr-card {
  border: none !important;
}

.cr-card .circle-icon {
  font-size: 30px;
}

.cr-card .btn {
  font-size: 11px;
  margin: 4px;
}