html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* dashboard */
.body-container {
  margin: 50px;
}

/* sidelist.js */
.list-group-item {
  border: none !important;
  cursor: pointer;
  font-size: 13px;
}

.underlined {
  text-decoration: underline;
}

.flag-icon {
  color: yellow;
}

/* outline header */
.outline-header {
  cursor: pointer;
}

/* CRcard.js */
.cr-card {
  border: none !important;
  cursor: pointer;
}

.cr-card .circle-icon {
  font-size: 30px;
}

.cr-card .btn {
  font-size: 11px;
  margin: 4px;
}

/* ecard */
.card-container {
  border: none !important;
}

.card-container.card2 .card2-title {
  border-left: 3px solid red;
  /* font-size: 30px; */
}

.card-container.card2 .main-text {
  padding-top: 80px;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 2px !important;
}

/* hcard */
.hcard {
  cursor: pointer;
}

.hcard .icon {
  font-size: 18px;
  margin-right: 5px;
}